@import "./reset";
@import "./mixin";

.container{
    width: 100%;
    max-width: 1440px;
}

.cards{
    @include flexBox(row, center);
    background-color: #e8edf1;
}
.card{
    @include size;
    @include flexBox(column, space-between);
}
img{
    @include imgSize;
}
.countries{
    h2{
        @include divText(black, 30px);
        padding-top: 20px; 
        padding-left: 10px;
    }
    p{
        @include divText(#cdd0d5, 20px);
        padding: 10px
    }
}

.price{
    h2{
        @include divText(#e9a397,30px);
        padding: 10px;
    }
    p{
        @include divText(#cdd0d5, 20px);
        padding-left: 10px;
        padding-bottom: 10px
    }
    @include flexBox(row, space-between);
}
.icon{
    @include iconTexts(#f3c62d);
}
.icons{
    padding: 10px;
}

@media (max-width: 576px){
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
    }
}